.player {
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 15px;
	position: relative;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 20px 0;
	border: 1px solid black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0;
	display: flex;
	justify-content: space-between;
}

.plays {
	padding: 20px 15px 10px 15px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	-webkit-border-radius: 15px 0px 0px 15px;
	-moz-border-radius: 15px 0px 0px 15px;
	border-radius: 15px 0px 0px 15px;
}

.player>div, .player>div>div {
	display: inline-block;
	vertical-align: top;
}

.player h1 {
	font-size: 16px;
	font-weight: bold;
}

.player .img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 6px solid #303030;
	margin-top: -5px;
	width: 180px;
	height: 180px;
}

.player .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.player .main_player {
	width: 600px;
	font-family: 'Droid Serif', serif;
	color: #ffffff;
	font-style: italic;
}

.player .main_player h2 {
	font-weight: 400;
	color: #bbbbbb;
	font-size: 12px;
	margin-top: 10px;
}

.progress {
	height: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.proDone {
	position: relative;
	height: 100%;
	background: rgb(83, 231, 255);
	background: -moz-linear-gradient(left, rgba(83, 231, 255, 1) 0%,
		rgba(173, 70, 198, 1) 75%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(83,
		231, 255, 1)), color-stop(75%, rgba(173, 70, 198, 1)));
	background: -webkit-linear-gradient(left, rgba(83, 231, 255, 1) 0%,
		rgba(173, 70, 198, 1) 75%);
	background: -o-linear-gradient(left, rgba(83, 231, 255, 1) 0%,
		rgba(173, 70, 198, 1) 75%);
	background: -ms-linear-gradient(left, rgba(83, 231, 255, 1) 0%,
		rgba(173, 70, 198, 1) 75%);
	background: linear-gradient(to right, rgba(83, 231, 255, 1) 0%,
		rgba(173, 70, 198, 1) 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53e7ff',
		endColorstr='#ad46c6', GradientType=1);
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: visible !important;
}

.proDone .time {
	display: inline-block;
	position: absolute;
	padding: 5px 10px;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	bottom: 0px;
	right: 0px;
	background: #be52d8;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px #7c1b93;
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	min-width: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.pause {
	display: inline-block;
	width: 44px;
	height: 44px;
	background: url(../images/pause.png) no-repeat;
}

.play {
	display: inline-block;
	width: 44px;
	height: 44px;
	background: url(../images/play.png) no-repeat;
}

.mute {
	height: 28px;
	width: 28px;
	display: inline-block;
	background: url(../images/volume.png) no-repeat;
	/* margin-left: 80px; */
	margin-left: 279px;
}

a {
	-webkit-transition: ease 0.5s;
	-moz-transition: ease 0.5s;
	-ms-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;
}

.thumbsU {
	color: white;
	font-size: 1.6em;
}

#details {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-left: 1px solid black;
	padding: 0 20px;
}

#details p {
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}

#details p a {
	font-size: 1.2em;
	color: #2b8e73;
	transition: color 1s;
}

	#details p a:hover {
		color: white;
		opacity: 1;
		margin-left: 0;
		transition: color 1s;	
	}

a:hover {
	opacity: 0.4;
}

.likes {
	padding: 25px 0 !important;
	background: #2b8e73;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	position: relative;
	right: -1px;
	width: 80px;
	text-align: center;
	height: 210px;
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
}

.likes>div {
	width: 100%;
}

.likes a {
    display: block;
	padding: 10px 0px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #49a308;
	text-decoration: none;
	width: 100%;
	-webkit-border-radius: 0px 15px 0px 0px;
	-moz-border-radius: 0px 15px 0px 0px;
	border-radius: 0px 15px 0px 0px;
}

	.likes a:hover {
		cursor: pointer;
	}

.likes a.thumbsDown {
	color: #f01515;
	border-bottom: none;
	-webkit-border-radius: 0px 0px 15px 0px;
	-moz-border-radius: 0px 0px 15px 0px;
	border-radius: 0px 0px 15px 0px;
}

	.likes a:hover img {
		opacity: 0.9 !important;
	}
	
button {
	background: none;
	border: none;
}

.player * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.player h1, .player h2, .player .comingUp, .player .comingUp * {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.c {
	clear: both;
}

.right {
	float: right;
	border-left: 3px solid #323232;
}

.left {
	float: left;
}

.right, .left {
	width: 49%;
}

/*MEDIA QUERIES
=======================*/
@media only screen and (max-width: 480px) {
	.player {
		width: 300px;
		margin-left: -150px;
		margin-top: -237px;
	}
	.plays {
		width: 100%;
	}
	.plays:before {
		display: none;
	}
	.player .likes {
		width: 100%;
	}
	.player .likes>div {
		width: 50%;
	}
	.player div.comingUp {
		text-align: center;
		margin-top: 25px;
		margin-bottom: 20px;
	}
	.player .img {
		margin: 0 auto 20px auto;
		display: block;
		width: 120px;
	}
	.player h1, .player h2 {
		text-align: center;
	}
	.player h2 {
		margin-bottom: 20px;
	}
	.likes a {
		-webkit-border-radius: 0px 0px 0px 15px;
		-moz-border-radius: 0px 0px 0px 15px;
		border-radius: 0px 0px 0px 15px;
	}
	.likes a.thumbsDown {
		-webkit-border-radius: 0px 0px 15px 0px;
		-moz-border-radius: 0px 0px 15px 0px;
		border-radius: 0px 0px 15px 0px;
	}
}