@CHARSET "ISO-8859-1";

form label, form input, form textarea {
	font-size: 1.4em;
	margin: 10px;
}

input {
	display: block;
	width: 277px;
}

input[type="file"] {
	padding: 0 !important;
}

form {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
}

#personalPics {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#personalPics input {
	border: none;
}

#personalPics img {
	width: 200px;
	height: 200px;
	display: block;
	border-radius: 10px;
}