@CHARSET "ISO-8859-1";
footer {
	width: 100%;
	height: 60px;
	background-color: #777;
	color: white;
	position: absolute;
	bottom: 0;
	text-align: center;
	padding-top: 8px;
}

footer p {
	font-size: 1.6em;
}