@CHARSET "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Nunito);

@import 'header.css';

@import 'footer.css';

body, div, p, header, ul, li, a, input, aside, footer, span, section,
	article, figure, img, figcaption {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
	/*font-family: 'Nunito', sans-serif;*/
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	background-color: #DDD;
}

#outer {
	width: 100%;
}

#wrapper {
	width: 1160px;
	min-height: 533px;
	margin: 0 auto;
	background-color: white;
	margin: 0 auto;
	padding: 30px;
}

input, textarea {
	border-radius: 10px;
	padding: 10px;
	border: 1px solid black;
	font-size: 1.2em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
	outline: none;
	background-color: #cbf4e9;
	color: black;
}

input[type="submit"] {
	background-color: #39c29d;
	color: white;
	font-weight: bold;
	transition: background-color 1s, color 1s;
}

input[type="submit"]:hover {
	color: black;
	background-color: #DDD;
	cursor: pointer;
	transition: background-color 1s, color 1s;
}

input:focus, textarea:focus {
	outline: none;
}