@CHARSET "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import 'header.css';
@import 'footer.css';

body, div, p, header, ul, li, a, input, aside, footer, span, section,
	article, figure, img, figcaption {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: #DDD;
}

#outer {
	width: 100%;
}

#wrapper {
	width: 1160px;
	height: 550px; margin : 0 auto;
	background-color: white;
	margin: 0 auto;
}

input {
	border-radius: 10px;
	padding: 10px;
	border: 1px solid black;
}