@CHARSET "ISO-8859-1";
header {
	width: 100%;
	height: 60px;
	background-color: #39c29d;
}

header nav {
	width: 1160px;
	margin: 0 auto;
	height: inherit;
}

header nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-left: 0;
}

header nav ul li {
	margin-top: 22px;
}

header nav ul li#logo {
	margin-top: 5px;
}

header nav ul li#searchBar {
	margin-top: 11px;
}

header nav ul li.dropdown:hover {
	cursor: pointer;
}

header nav ul li ul.dropdown-menu {
	padding: 5px;
}

header nav ul li ul.dropdown-menu li {
	margin-top: 0 !important;
	border-bottom: 1px solid black;
	padding: 5px;
}

header nav ul li ul.dropdown-menu li a {
	font-size: 1.1em !important;
}

header nav ul li ul.dropdown-menu li:last-child {
	border-bottom: none;
}

header nav ul li a {
	text-decoration: none;
	color: white;
	transition: color 0.8s;
	font-size: 1.3em;
	text-transform: uppercase;
}

header nav ul li a:hover {
	color: black;
	transition: color 0.8s;
	text-decoration: none !important;
}

header nav ul li input[type="search"] {
	width: 600px;
	border-radius: 10px;
	font-size: 1.4em;
	border: none;
}

	header nav ul li input[type="search"]:focus {
		outline: none;
		background-color: #cbf4e9;
		color: black;
	}

header nav ul li a #logoImg {
	border: 1px solid black;
	height: 40px;
	width: 100px;
}