@CHARSET "ISO-8859-1";
header {
	width: 100%;
	height: 60px;
	background-color: #39c29d;
}

header nav {
	width: 1160px;
	margin: 0 auto;
	height: inherit;
}

header nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-left: 0;
}

header nav ul li {
	padding: 10px;
}

header nav ul li a {
	text-decoration: none;
	color: white;
	margin: 10px;
	font-size: 1.3em;
	text-transform: uppercase;
}

header nav ul li a input[type="search"] {
	width: 600px;
	border-radius: 10px;
	font-size: 1em;
	border: none;
	padding: 10px;
}

	header nav ul li a input[type="search"]:focus {
		outline: none;
		background-color: #cbf4e9;
		color: black;
	}

header nav ul li a #logo {
	border: 1px solid black;
	height: 40px;
	width: 100px;
}