@CHARSET "ISO-8859-1";
#wrapper form {
	margin: 0 auto;
	display: block;
}

#wrapper form table {
	margin: 0 auto;
}

#wrapper form table tr td {
	font-size: 1.4em;
}

#wrapper form table tr td  * {
	width: 100%;
}

form table tr td input {
	font-size: 1.2em;
	width: 270px !important;
}

form table tr td input:focus {
	outline: none;
}

input[type="submit"] {
	width: 50% !important;
	display: block;
	margin: 0 auto;	
	background-color: #39c29d;
	color: white;
	font-weight: bold;
}